---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/skills/">Skills</a>
        <a href="/portfolio/">Portfolio</a>
        <a href="/blog/">Blog</a>
        <a href="/contact/">Contact</a>

		<h1>About</h1>

        <p>As a front-end developer, my unwavering passion for web development drives me to shape intricate ideas into captivating digital experiences. The boundless possibilities of the digital realm captivate me, leading me to specialize in crafting visually appealing websites that offer seamless user interactions. Through experimenting with cutting-edge technologies and distinctive design patterns, I consistently strive to create extraordinary user experiences, ensuring a delightful digital journey.</p>

        <p>Remaining relevant requires me to stay attuned to industry trends and delve into UX psychology, aiming to evoke positive user responses. I hold accessibility as a fundamental pillar of my work, adhering to guidelines and weaving inclusive features into my projects. My dedication extends to understanding the audience through rigorous research and user testing, resulting in interfaces finely tailored to their needs and expectations.
        </p>

        <p>My path as a front-end developer is defined by an ardent commitment to crafting exceptional web experiences. By merging aesthetics, innovation, and user-centric design, my goal is to forge digital masterpieces that resonate profoundly with every user. With enthusiasm, I welcome the evolving challenges of web development, equipping myself to contribute to a more accessible and vibrant digital landscape. This journey takes a pivotal turn in 2025 as I work toward obtaining my Bachelor's Degree in graphic design from Southern New Hampshire University, marking a stride towards specializing in web design.</p>
	</body>
</html>
