---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = 'WELCOME'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <Navigation />

		<h1>{pageTitle}</h1>

		<p>As a passionate frontend developer, I craft captivating web experiences through innovation, modern designs, and user-centric approaches. With a focus on accessibility, I ensure all users have a delightful journey. By constantly learning and staying updated, I am committed to making the web more enjoyable and inclusive for everyone.</p>
	</body>

		<Footer />
</html>
